.qrcode-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 0; // Remove espaço extra abaixo do canvas
}

.frase {
    margin-top: 350px;
}

.frase-2 {
    margin-top: 15px;
}

.btn-seguir {
  font-size: 33px;
  padding: 20px 40px;
}