<div class="screen-container">
  <div class="content-wrapper" *ngIf="videoUrl">
    <img src="assets/images/tela4/frase.png" alt="Frase" class="frase">
    <img src="assets/images/tela4/frase2.png" alt="Frase" class="frase-2">

    <div class="qrcode-wrapper">
      <qrcode
        [qrdata]="videoUrl"
        [errorCorrectionLevel]="'M'"
        [width]="600">
      </qrcode>
    </div>

    <button class="btn-secondary" (click)="proceed()">Seguir</button>
  </div>
  <img src="assets/images/logo.png" alt="Logo Cliente" class="logo-footer">
</div>