<div class="screen-container">
  <div class="content-wrapper">
    <img src="assets/images/tela2/frase.png" alt="Frase" class="frase">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="data-form">

      <label for="name">Nome e sobrenome</label>
      <input id="name" type="text" formControlName="name">
      <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="error-message">
        <div *ngIf="name?.errors?.['required']">Nome é obrigatório.</div>
        <div *ngIf="name?.errors?.['pattern']">Digite o nome e sobrenome.</div>
      </div>

      <label for="email">E-mail</label>
      <input id="email" type="email" formControlName="email">
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
        <div *ngIf="email?.errors?.['required']">E-mail é obrigatório.</div>
        <div *ngIf="email?.errors?.['email']">Formato de e-mail inválido.</div>
      </div>

      <label for="phone">Telefone</label>
      <input id="phone" type="tel" formControlName="phone" mask="(00) 00000-0000||(00) 0000-0000">
      <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="error-message">
        <div *ngIf="phone?.errors?.['required']">Telefone é obrigatório.</div>
        <div *ngIf="phone?.errors?.['minlength']">Telefone incompleto.</div>
      </div>

      <label class="check-aceita">
        <input 
          type="checkbox" 
          [checked]="shareInfo?.value === 'Sim'"
          (change)="onShareInfoChange($event)">
        Aceita compartilhar suas informações pessoais com o Senac?
      </label>

      <button type="submit" class="btn-secondary" [disabled]="dataForm.invalid || dataForm.get('shareInfo')!.value == 'Não'">Confirmar e participar</button>
    </form>
  </div>
  <img src="assets/images/logo.png" alt="Logo Cliente" class="logo-footer">
</div>